@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
html {
  font-size: min(max(12px, 3vw), 16px);
}

html, body {
  min-height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Indie Flower", cursive;
  justify-content: center;
  margin: 0;
}

h1 {
  font-size: 5rem;
  margin: 0;
}

ul {
  font-size: 3rem;
  list-style-type: none;
  padding-left: 1rem;
}

.item {
  cursor: pointer;
  display: flex;
  padding-left: 2.4rem;
  position: relative;
  transition: opacity .3s;
}

.item:hover {
  text-decoration: line-through;
}

.item.done {
  opacity: .4;
}

.item.done:hover {
  opacity: 1;
  text-decoration: inherit;
}

.item.done:hover .title {
  transform: skewX(0);
  transition: opacity .3s;
}

.item .title {
  display: inline-block;
}

.item.done .title {
  transform: skewX(-20deg);
}

.item input {
  height: 0;
  margin: 0;
  width: 0;
}

.item input::before {
  content: "☐";
  cursor: pointer;
  font-size: 2rem;
  left: 0;
  position: absolute;
  top: .7rem;
}

.item input:checked::before {
  content: "🗹";
}
